            
.slider__display 
    ul.slider__list
        li.slider__item
            if (works)
                each index in works
                    .slider__image
                        .slider__pic(style="background-image:url(`${index.pic}`)")
                    .slider__info
                        .block-subtitle
                            =index.title
                        .slider__desc
                            =index.techs
                        a.slider__link(href="index.link")
                            button(type="button").button.slider__link-button
                                img.slider__link-pic(src="./assets/images/icons/link.svg", alt="link")
                                .slider__link-text Посмотреть сайт        
    nav.slider-nav
        ul.slider-nav__list
            li.slider-nav__item.slider-nav__item_active(data-scroll-to='0')
            li.slider-nav__item(data-scroll-to='1')
            li.slider-nav__item(data-scroll-to='2')
    .slider__buttons
        a.slider__controls.slider__controls_previous 
            svg.slider__controls_previous-pic
                use(xlink:href='./assets/images/icons/sprite.svg#arrow_down')
        a.slider__controls.slider__controls_next 
            svg.slider__controls_next-pic
                use(xlink:href='./assets/images/icons/sprite.svg#arrow_down')